<div class="row">
  <div class="col-md-6">
    <h2><%= @course_session.subject %></h2>
  </div>
  <div class="col-md-6 text-right">
    <br />
  <p>
    Fecha: <strong><%= @course_session.date %></strong>
  </p>
  <p>Mostrando <strong><%= pluralize(@students.count, "estudiante", "estudiantes") %></strong></p>
  </div>
</div>


<%= form_for @course_session do |f| %>

<table class="table table-striped">
  <thead>
    <th>Nombre Completo</th>
    <th>Asistencia</th>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student %></td>
        <td><%= check_box_tag 'course_session[student_ids][]', student.id, @course_session.students.include?(student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
<br />
